<div class="form-container">
  <div class="login">
    <div class="login-text-box">
      <h1 class="heading-secondary">Register</h1>
    </div>
    <form class="login-form" action="index.html" method="post">
      <div class="input-fields">
        <div>
          <label for="user-name">Full Name</label>
          <input id="full-name" type="text" placeholder="Full name" name="user-name">
        </div>
        <div>
          <label for="user-name">Username</label>
          <input id="user-name" type="text" placeholder="Username" name="user-name">
        </div>
        <div>
          <label for="pass-word">Password</label>
          <input id="pass-word" type="password" placeholder="Password" name="pass-word">
        </div>
      </div>
      <button class="btn login-btn render-login">Signup</button>
    </form>
    <!-- <button class="btn login-btn-render render-login">Login</button> -->
  </div>
</div>